.p{
    margin: 0;
    width: 502px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(170, 196, 235);
}
input{
    width: 500px;
    height: 40px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(226, 226, 235);
}
button{
    width: 180;
    height: 40px;
    border-radius: 20px;
}
.product{
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 86vh;
    background-color: aliceblue;
}
.label{
    margin: 5px;
}
/* new resume */
.headings{
    font-size: x-large;
    font-weight: 700;
    font-family: 'Times New Roman';
}
.content{
    font-family: 'Times New Roman';
    font-size: medium;
}
body{
    display: grid;
    grid-template-columns: 1fr;
}
.resume{
    width: 400px;
    padding-left: 20px;
    background-color: antiquewhite;
}